// colors
$color-primary: #000000;
$color-primary-light: #858447ea;
$color-primary-dark: #312e2ec0;

$color-black: #000000;
$color-white: #ffff;

$color-grey-light-1: #f7f7f7;
$color-light-milk: #efe4d4;
$color-primary-light-2: rgba(133, 132, 71, 0.438);

// font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
