*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: boredr-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Comfortaa", sans-serif;
  /* font-size: 16px; */
  font-weight: 900;
  line-height: 1.7;
  color: #000000;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }

.heading-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5 rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-out; }

.heading-sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5 rem;
  animation-name: moveInRight;
  animation-duration: 2s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  background-image: linear-gradient(to right, #858447ea, #312e2ec0);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.5rem;
  transition: all 0.1s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1, 1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 4.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 40rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 2rem 1rem rgba(10, 8, 6, 0.3); }

.btn:active {
  transform: translateY(-0.2rem); }

.btn-white {
  background-color: #ffff;
  color: #151618; }

.btn-green {
  background-color: #312e2ec0;
  color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 4s; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* animation-fill-mode: backwards; */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #858447ea;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #312e2ec0;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.1s; }

.btn-text:hover {
  background-color: rgba(133, 132, 71, 0.438);
  color: #ffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 10%;
      top: 20rem; }
    .composition__photo--p3 {
      right: 0;
      top: 2rem; }
    .composition__photo--p2 {
      left: 0;
      top: -2rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #312e2ec0;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 2.5rem 2.5rem 10rem white;
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.97); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.9rem 7rem rgba(0, 0, 0, 0.45);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #858447ea, #312e2ec0);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    background-color: #8c7c69d2;
    height: 70rem;
    transition: all 0.9s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.658); }
    .card__side--front {
      background-color: rgba(255, 255, 255, 0.719);
      color: black; }
    .card__side--back {
      background-color: #8c7c69d2;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.438), #312e2ec0); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #a39372, #312e2ec0); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #99776b, #312e2ec0); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 40rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.438), #312e2ec0), url(../sass_1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.438), #312e2ec0), url(../sass_2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.438), #312e2ec0), url(../sass_3.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: rgba(41, 36, 36, 0.856);
    position: absolute;
    right: 1rem;
    top: 25rem; }
  .card__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(233, 233, 219, 0.856), #afaeaec0); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(233, 233, 219, 0.856), #afaeaec0); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(233, 233, 219, 0.856), #afaeaec0); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #312e2ec0; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 3px;
  padding-left: 10rem;
  padding: 5rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-2rem, -2rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 130%;
    transform: translateX(-0.2rem) scale(1.1);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__img_1 {
    height: 150%;
    transform: translateY(-4rem) scale(1.1);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffff;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-1rem) scale(1);
    filter: blur(3px) brightness(90%); }
  .story:hover .story__img_1 {
    transform: translateY(-0.9rem) scale(1);
    filter: blur(3px) brightness(90%); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.6), rgba(49, 46, 46, 0.6)), url("https://img.freepik.com/free-photo/very-simple-modern-cup-coffee-white-background-plant-greenery-minimalist-theme_336260-25.jpg?size=626&ext=jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  .header-logo-box {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* transform: translate(-10%, -10%); */ }
  .header-img {
    width: 18rem; }
  .header-logo {
    height: 10rem; }
  .header-text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: rgba(104, 72, 42, 0.2); */
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 25rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(133, 132, 71, 0.6), rgba(49, 46, 46, 0.6)), url("https://img.freepik.com/free-photo/very-simple-modern-cup-coffee-white-background-plant-greenery-minimalist-theme_336260-25.jpg?size=626&ext=jpg");
  background-size: cover;
  transform: skewY(4deg); }
  .section-features > * {
    transform: skewY(-4deg); }

.section-coffee {
  background-color: #f7f7f7;
  padding: 20rem 0 20rem;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  background-color: #f7f7f7; }
