.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;

  &__side {
    background-color: #8c7c69d2;
    height: 70rem;
    transition: all 0.9s ease;
    // color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.658);
    &--front {
      background-color: rgba(255, 255, 255, 0.719);
      color: black;
    }

    &--back {
      background-color: #8c7c69d2;
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light-2,
          $color-primary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          #a39372,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          #99776b,
          $color-primary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //front style of card

  &__picture {
    // background-size: 30rem;
    background-size: cover;
    height: 40rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light-2,
          $color-primary-dark
        ),
        url(../sass_1.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light-2,
          $color-primary-dark
        ),
        url(../sass_2.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light-2,
          $color-primary-dark
        ),
        url(../sass_3.jpg);
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: rgba(41, 36, 36, 0.856);
    position: absolute;
    right: 1rem;
    top: 25rem;
  }

  &__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(233, 233, 219, 0.856),
        #afaeaec0
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(233, 233, 219, 0.856),
        #afaeaec0
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(233, 233, 219, 0.856),
        #afaeaec0
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-primary-dark;
        }
      }
    }
  }

  // back style

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}
