.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.2);
  background-color: white;
  border-radius: 3px;
  padding-left: 10rem;
  padding: 5rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-2rem, -2rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 130%;
    transform: translateX(-0.2rem) scale(1.1);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__img_1 {
    height: 150%;
    transform: translateY(-4rem) scale(1.1);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-1rem) scale(1);
    filter: blur(3px) brightness(90%);
  }

  &:hover &__img_1 {
    transform: translateY(-0.9rem) scale(1);
    filter: blur(3px) brightness(90%);
  }
}
